# Environment Configuration
NODE_ENV=development
NODE_PORT=8080

# Application Configuration
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
SECRET_KEY=

# Token Expiry
# 30 minutes
ACCESS_TOKEN_EXPIRY=1800
# 30 day
REFRESH_TOKEN_EXPIRY=2592000

# API Configuration
API_PREFIX=api
API_VERSION=v1

# Redirection URL's
ADMIN_DOMAIN_URL="http://192.168.1.151:3001"
WEB_USER_DOMAIN_URL="http://192.168.1.151:3000"

# Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_DIALECT=mysql
DB_HOST_READER=localhost
DB_HOST_WRITER=localhost
DB_TIMEZONE=+00:00

# Database Pool Configuration
DB_CONNECTION_TIMEOUT=12000
DB_RETRY=5
POOL_MAX=10
POOL_MIN=5
POOL_ACQUIRE=30000
POOL_IDLE=10000
POOL_EVICT=1000

#cros
CORS_ORIGINS=http://192.168.1.151:3000,http://192.168.1.151:3001
CORS_ALLOW_ALL=true

#Smtp
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
